<div id="new_overlay_view">
	<h3>Create a New Overlay: Import Overlay Image</h3>
	<ul class="nav nav-tabs" id="formTabs">
		<li data-target="#imageIdSubmit"><a href="#imageIdSubmit">
				From an ID </a></li>
		<li class="active" data-target="#fileUpload"><a
			href="#fileUpload">Upload</a></li>
		<li data-target="#urlSubmit"><a href="#urlSubmit"> From a URL</a></li>
		<li data-target="#urlSubmit"><a href="#urlSubmit"> Upload
				batch</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="imageIdSubmit">
			<form encytype="multipart/form-data" id="imageIdForm">
				<div id="uploadControlGroup" class="control-group">
					<label>Mission <span class="import-requirements">
							[required] </span>
					</label> <input type="text" id="mission" style="width: 10%" /> <label>Roll
						<span class="import-requirements"> [required] </span>
					</label> <input type="text" id="roll" value="E" style="width: 10%" /> <label>Frame'
						<span class="import-requirements"> [required] </span>
					</label> <input type="text" id="frame" style="width: 10%" />
					<div style="padding-bottom: 10px;">
						<div style="padding-left: 2px;">
							<input type="radio" name="imageSize" value="small"> Small
						</div>
						<div style="padding-left: 2px;">
							<input type="radio" name="imageSize" value="large" checked>
							Large
						</div>
					</div>
					<input class="btn newOverlayFormSubmitButton" type="button"
						value="Submit" /> {{{ token }}}
				</div>
			</form>
		</div>
		<div class="tab-pane" id="fileUpload">
			<form encytype="multipart/form-data" id="overlayUploadForm">
				<div id="uploadControlGroup" class="control-group">
					<label>Choose an image to upload' <span
						class="import-requirements"> {{ importRequirementsText }} </span>
					</label>
					<div>
						<input type="file" name="file" id="newOverlayFile" />
					</div>
					<input class="btn newOverlayFormSubmitButton" type="button"
						value="Upload" /> {{{ token }}}
				</div>
			</form>
		</div>
		<div class="tab-pane" id="urlSubmit">
			<form encytype="multipart/form-data" id="overlayUrlForm">
				<div id="uploadControlGroup" class="control-group">
					<label>Image URL <span class="import-requirements">
							{{ importRequirementsText }} </span>
					</label> <input type="text" id="imageUrl" style="width: 98%" /> <input
						class="btn newOverlayFormSubmitButton" type="button"
						value="Submit" /> {{{ token }}}
				</div>
			</form>
		</div>
	</div>
	<div id="formErrorContainer"></div>
</div>