<a class="btn btn-primary" href="#overlays/new">New Overlay</a>
{{debug}}

<!--  
NLAT – Nadir Latitude
NLON – Nadir Longitude
LENS – Camera lens setting
CLAT – Center Latitude
CLON – Center Longitude
TPTS – Number of tie-points selected
LAST – Date and time of last modification
EDIT – Edit the tie-point selection
DELT – Delete the entire record
-->
<table cellpadding="0" cellspacing="0" border="0"  id="overlays_table" class="stripe">
<thead class="table_header">
	<tr>
		<th>MISSION</th>
		<th>ROLL</th>
		<th>FRAME</th>
		<th>ACQUISITION</th>
		<th>NLAT</th>
	    <th>NLON</th>
	    <th>LENS</th>
	    <th>CLAT</th>
	    <th>CLON</th>
	    <th>TPTS</th>
	    <th>LAST UPDATED</th>
	    <th>EDIT</th>
	    <th>DELT</th>
    </tr>
</thead>

{{#each overlays.models }}
	<tr>
		<td> 
			{{#if attributes.alignedTilesUrl}}
				<a href="#overlay/{{id}}">
			{{/if}}
			<!-- get "issMRF" -->
			{{attributes.mission}}
			{{#if attributes.alignedTilesUrl}}
				</a> 
			{{/if}}
		</td>
		<td> 
			{{#if attributes.roll}}
				{{ attributes.roll }}
			{{/if}}
		</td>
		<td> 
			{{#if attributes.alignedTilesUrl}}
				<a href="#overlay/{{id}}">
			{{/if}}
			{{attributes.frame}}
			{{#if attributes.alignedTilesUrl}}
				</a> 
			{{/if}}
		</td>
		<td> {{ attributes.acquisitionDate }} {{ attributes.acquisitionTime }}</td>
    	<td> {{ attributes.nadirLat }}</td>
		<td> {{ attributes.nadirLon }}</td>
		<td> {{ attributes.focalLength_unitless }} </td>
		<td> {{attributes.centerLat}}</td>
    	<td> {{attributes.centerLon}} </td> 
	    <td> {{attributes.points.length}} </td>
	    <td> {{attributes.lmt_datetime}}</td>
    	<td>
			<a id="edit_{{id}}" class="edit" href="#overlay/{{id}}/edit">[edit]</a>
		</td>
    	<td>
			<a id="delete_{{id}}" class="delete" href="#overlays/" onClick="app.currentView.deleteOverlay({{id}})"> [delete]</a>
		</td>
	</tr> 
{{/each}}

</table>

<div class="modal hide" id="confirmDelete" aria-hidden="true">
	<div class="modal-body">
		<p>Delete this overlay?</p>
	</div>
	<div class="modal-footer">
		<button class="btn" onClick="$('#confirmDelete').modal('hide');"> No!</button>
		<button id="deleteYesBtn" class="btn btn-primary"> Yes</button>
	</div>
</div>

<!-- Initialize the list overlay table as jquery data table --> 
<script type="text/javascript">
heightPercentage = 60;
/*
 * Change height percentage if you need a different size table
 */
calcDataTableHeight = function() {
    var h =  Math.floor($(window).height()*heightPercentage/100);
    return h + 'px';
};

defaultOptions = {
        bAutoWidth: true,
        stateSave: true,
        bPaginate: true,
        iDisplayLength: -1, 
        bLengthChange: true,
        bSort: true,
        bJQueryUI: false,
        sScrollY:  calcDataTableHeight(),
        "columnDefs": [
                       {"className": "dt-center", "targets": "_all"}
                     ],
        "lengthMenu": [[10, 20, 40, -1], [10, 20, 40, "All"]],
        "oLanguage": {
            "sLengthMenu": "Display _MENU_"
        }
};

if ( ! $.fn.DataTable.isDataTable( '#overlays_table' ) ) {
  $('#overlays_table').DataTable(defaultOptions);
}
</script>